@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("Newfolder/img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: rgb(87, 155, 87);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    position: relative;
}

.head{
    background-color: #0f0;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}


.snake{
    background-color: black;
    border: .25vmin solid white;
    border-radius: 16px;
    height: 50%;
    margin-block: auto;

}

.food{
    background: purple;
    border: .25vmin solid black;
    border-radius: 8px;

}
.top {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    width: max-content;
}

.right{
    transform: rotate(90deg);
}
.left{
    transform: rotate(-90deg);
}  
.bottom{
    transform: rotate(180deg);
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    margin-inline: 20px;
}
.one{
    display: flex;
     gap: 4px;
}
head.eye {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    z-index: 50;
}

.left-eye {
    left: 8px;
}

.right-eye {
    right: 8px;
}

.eye::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.mouth {
    width: 20px;
    height: 10px;
    background-color: #f00;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 5px;
}