@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("Newfolder/img/bg.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background:black;
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    position: relative;
}

.head{
    background-image: url(Newfolder/img/snake.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 30px;
    background-repeat: no-repeat;
}


.snake{
    border: .25vmin solid white;
    border-radius: 16px;
    height: 50%;
    margin-block: auto;
    animation: random 5s infinite;

}
@keyframes  random {
    15% { background-color: red; } 
}

.food{
    background: purple;
    border: .25vmin solid black;
    border-radius: 8px;
    height: 50%;
    width: 50%;
    animation: blink 1s linear infinite;


}
@keyframes blink {
    0%, 100% {transform: scale(.5);}
    50% {transform: scale(1.1);}
  }
.top {
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    width: max-content;
}

.right{
    transform: rotate(90deg);
}
.left{
    transform: rotate(-90deg);
}  
.bottom{
    transform: rotate(180deg);
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    margin-inline: 20px;
}
.one{
    display: flex;
     gap: 4px;
}
head.eye {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    z-index: 50;
}

.left-eye {
    left: 8px;
}

.right-eye {
    right: 8px;
}

.eye::before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
}

.mouth {
    width: 20px;
    height: 10px;
    background-color: #f00;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 5px;
}
.btnholder{
    display: flex;
    padding: 20px;
    justify-content: space-between;
  
  }
  .pre{
    background-color: black;
    width: max-content;
    height: max-content;
    padding: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .pbtmBtn{
    background: black;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 6px;
  }