*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#023047 ;
  height: 100vh;
  flex-direction: column;
}
.gamescreen{
  width: 300px;
  height: 300px;
  background-color:#8ecae6 ;
  box-shadow: 6px 6px 20px 20px rgba(31, 31, 31, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  flex-wrap: wrap;
  border: 4px solid #8ecae6;
}
.box{
  width: 33.33%;
  height: 33.33%;
  background-color: #023047;
  border: 4px solid #8ecae6;
  border-radius: 15px;
  cursor: pointer;
  font-size: 70px;
  color: WHITE;
}
.btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  width: 300px;
  margin-top: 10px;
}
.n-btn{
  border: none;
  padding: 12px 24px;
  background-color:black;
  border-radius: 5px;
  color: white;
  width: 40%;
  font-size: 10px;
  font-weight: bold;
  position:relative;
  overflow: hidden;
}
.n-btn::after{
  content: "";
  position: absolute;
    width: 10%;
    border-radius: 5px;
    height:100%;
    background-color: #ffb8036b;
    top: 0;
    left: 0;
    transition: .5s all;
    opacity: 0;
}
.n-btn:hover::after{
  top: -00%;
  opacity: 1;
   width: 100%;
}
.r-btn{
  border: none;
  padding: 12px 24px;
  background-color:black;
  border-radius: 5px;
  color: white;
  width: 40%;
  font-size: 10px;
  font-weight: bold;
  position:relative;
  overflow: hidden;
}
.r-btn::after{
  content: "";
  position: absolute;
    width: 10%;
    border-radius: 5px;
    height:100%;
    background-color: #ffb8036b;
    top: 0;
    left: 0;
    transition: .5s all;
    opacity: 0;
}
.r-btn:hover::after{
  top: 0;
  opacity: 1;
   width: 100%;
}
.msg{
  background-color: white;
  margin-top: 12px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: maroon;
  padding: 10px;
  font-weight: 800;
  border: 3px dashed maroon;
  border-radius: 12px;
}
.joy{
  color: maroon;
}
.joy svg{
  width: 50px;
  height: 50px;
}
.hide{
  opacity: 0;
}
.heading{
  color: goldenrod;
  font-size: 60px;
  margin-bottom: 20px;
  font-weight: 800;
}

